/* ======================================== */
/* =                                      = */
/*   Modal content component - court table     */
/* =                                      = */
/* ======================================== */

.c-courtTable__header {
  height: 31px;
  color: $greyish_brown;
  font-family: FuturaPTBold;
  font-size: 1em;
  font-weight: bold;
  line-height: 2.5em;
  border-bottom: 1px solid $very_light-pink;
  display: flex;
  flex-flow: row;

  .c-courtTable__header__item {
    width: 160px;
  }

  .c-courtTable__header__item:last-of-type {
    width: 170px;
  }
}

.c-courtTable {
  max-width: 832px;
  width: 78.5vw;
  margin-bottom: 21px;

  .c-courtTable__listing__empty {
    @include menu_text;
    padding: 35px 0;
    text-align: center;
  }

  .c-courtTable__listing {
    height: 48px;
    color: $greyish_brown;
    font-family: FuturaPTDemi;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    padding: 12px 0;

    img {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 12px;
    }

    .c-courtTable__listing__item {
      width: 425px;
      display: flex;
      line-height: 24px;
      color: $greyish_brown;
      font-family: FuturaPTDemi;
      font-size: 1em;
      font-weight: 500;
      padding: 0 8px 0 0;
      white-space: nowrap;
      overflow: hidden;

      span {
        width: 420px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      svg {
        /* padding-top: 2px; */
      }

      button.e-btn__remind,
      button.e-btn__remove,
      button.e-btn__add {
        padding: 1px 38.5px;
        height: 24px;
        width: 156px;
      }

      // .e-btn__add--admLeague {
      //   margin-left: 13px;
      // }
    }

    &--large {
      width: 230px;
    }
  }

  .c-courtTable__listing__item:first-of-type {
    width: 160px;
  }

  .c-courtTable__listing__item:last-of-type {
    width: 180px;
    padding: 0 10px 0 0;
    display: flex;
    justify-content: flex-end;

    .c-courtTable__listing__cell {
      color: $greyish_brown;
      font-family: FuturaPTDemi;
      font-size: 1em;
      font-weight: 500;
    }
  }
}

.c-courtTable.loading {
  max-width: 832px;
  width: 78.5vw;
  margin-bottom: 39px;

  .c-courtTable__header {
    height: 31px;
    color: $greyish_brown;
    font-family: FuturaPTBold;
    font-size: 1em;
    font-weight: bold;
    line-height: 2.5em;
    border-bottom: 1px solid $very_light-pink;
    display: flex;
    flex-flow: row;

    .c-courtTable__header__item {
      width: 160px;

      /* width: 14.942vw; */
      &--courtsPage {
        width: 127px;
      }
    }

    .c-courtTable__header__item:last-of-type {
      width: 170px;
    }
  }
}
