/* ======================================== */
/* =                                      = */
/*   Alerts and notifications               */
/* =                                      = */
/* ======================================== */

// notifications icon in header
.e-notifications {
  width: 18px;
  height: auto;
  margin-right: 40px;
  &__link {
    width: 18px;
    height: 18px;
    background: url(../public/images/icons/bell.svg) no-repeat center;
  }
  &__link--notifications {
    width: 18px;
    height: 18px;
    background: url(../public/images/icons/bell_active.svg) no-repeat center;
  }
  /* img {
      position: absolute;
      top: 50%;
      width: 22px;
      height: 22px;
      margin-top: -11px;
      margin-left: -11px;
    } */
}
.e-alert__redPill {
  width: 44px;
  height: 12px;
  border-radius: 7px;
  background-color: #ff2072;
}
// alerts in the page, ie on the dashboard or comm page
.c-alerts {
  /* border-bottom: 1px solid #D8D8D8; */
  width: 100%;
  /* padding-bottom: 26px; */
  &__empty {
    width: 100%;
    p.e-alerts__empty {
      @include menu_text;
      text-align: center;
    }
  }
  p.e-alerts__empty {
    display: none;
  }
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
