/* ======================================== */
/* =                                      = */
/* =              Layout Utilities        = */
/* =                                      = */
/* ======================================== */


.u-mb5 {
  margin-bottom: 5px;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mb25 {
  margin-bottom: 25px;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-mb35 {
  margin-bottom: 35px;
}

.u-mt5 {
  margin-top: 5px;
}

.u-mt10 {
  margin-top: 10px;
}

.u-mt15 {
  margin-top: 15px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mt25 {
  margin-top: 25px!important;
}

.u-mt30 {
  margin-top: 30px;
}

.u-mt35 {
  margin-top: 35px!important;
}

.u-mt40 {
  margin-top: 40px;
}

.u-mt45 {
  margin-top: 45px;
}

.u-mt50 {
  margin-top: 50px;
}

.u-ml5 {
  margin-left: 5px;
}

.u-ml10 {
  margin-left: 10px;
}

.u-ml15 {
  margin-left: 15px;
}

.u-ml20 {
  margin-left: 20px;
}

.u-ml25 {
  margin-left: 25px;
}

.u-ml30 {
  margin-left: 30px;
}

.u-ml35 {
  margin-left: 35px;
}

.u-ml40 {
  margin-left: 40px;
}

.u-mr5 {
  margin-right: 5px;
}

.u-mr10 {
  margin-right: 10px;
}

.u-mr15 {
  margin-right: 15px;
}

.u-mr20 {
  margin-right: 20px;
}

.u-mr25 {
  margin-right: 25px;
}

.u-mr30 {
  margin-right: 30px;
}

.u-mr35 {
  margin-right: 35px;
}

.u-mr40 {
  margin-right: 40px;
}

.u-pb5 {
  padding-bottom: 5px;
}

.u-pb10 {
  padding-bottom: 10px;
}

.u-pb15 {
  padding-bottom: 15px;
}

.u-pb20 {
  padding-bottom: 20px;
}

.u-pb25 {
  padding-bottom: 25px;
}

.u-pb30 {
  padding-bottom: 30px;
}

.u-pb35 {
  padding-bottom: 35px;
}

.u-pb40 {
  padding-bottom: 40px;
}

.u-pb45 {
  padding-bottom: 45px;
}

.u-pt5 {
  padding-top: 5px;
}

.u-pt10 {
  padding-top: 10px;
}

.u-pt15 {
  padding-top: 15px;
}

.u-pt20 {
  padding-top: 20px;
}

.u-pt25 {
  padding-top: 25px;
}

.u-pt30 {
  padding-top: 30px;
}

.u-pt35 {
  padding-top: 35px;
}

.u-pt40 {
  padding-top: 40px;
}

.u-pl5 {
  padding-left: 5px;
}

.u-pl10 {
  padding-left: 10px;
}

.u-pl15 {
  padding-left: 15px;
}

.u-pl20 {
  padding-left: 20px;
}

.u-pl25 {
  padding-left: 25px;
}

.u-pl30 {
  padding-left: 30px;
}

.u-pl35 {
  padding-left: 35px;
}

.u-pl40 {
  padding-left: 40px;
}

.u-pl45 {
  padding-left: 45px;
}

.u-pr5 {
  padding-right: 5px;
}

.u-pr10 {
  padding-right: 10px;
}

.u-pr15 {
  padding-right: 15px;
}

.u-pr20 {
  padding-right: 20px;
}

.u-pr25 {
  padding-right: 25px;
}

.u-pr30 {
  padding-right: 30px;
}

.u-pr35 {
  padding-right: 35px;
}

.u-pr40 {
  padding-right: 40px;
}

.u-pr45 {
  padding-right: 45px;
}

.u-hide {
  // visibility: hidden;
  display: none;
}

.u-show {
  visibility: visible;
}

.u-autowidth {
  width: auto;
}

.u-alignItemsCenter {
  align-items: center;
}
