// - for temporary table content - loading animation

  .u-table__listing--temp {
    height: 48px;
    color: $greyish_brown;
    font-family: FuturaPTDemi;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    padding: 12px 0;
    svg { width:3em; height:3em;}
    img {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 12px;
    }
    .u-table__listing__item {
      width: 158px;
      height: 14px;
      line-height: 24px;
      color: $greyish_brown;
      font-family: FuturaPTDemi;
      font-size: 1em;
      font-weight: 500;
      padding: 0 8px 0 0;
      background: #cccccc; /* Old browsers */
      background: linear-gradient(to right, #e8e8e8 0%,#f2f2f2 100%);
      margin: 6px 5px 0;
      -webkit-animation: loadingAnim 1s linear infinite alternate forwards;
      -moz-animation: loadingAnim 1s linear infinite alternate forwards;
      animation: loadingAnim .75s linear infinite alternate forwards;
    }
  }

@-webkit-keyframes loadingAnim {
  0% { background: #e6e6e6}
  100% { background: #f1f1f1}
}
@-moz-keyframes loadingAnim {
  0% { background: #e6e6e6}
  100% { background: #f1f1f1}
}
@keyframes loadingAnim { 
  0% { background: #e6e6e6}
  100% { background: #f1f1f1}
}
.loading .u-table__listing--temp .u-table__listing__item:nth-child(1) {
  animation-delay: .15s
}

.loading .u-table__listing--temp .u-table__listing__item:nth-child(2) {
  animation-delay: .3s
}

.loading .u-table__listing--temp .u-table__listing__item:nth-child(3) {
  animation-delay: .45s
}

.loading .u-table__listing--temp .u-table__listing__item:nth-child(4) {
  animation-delay: .6s
}

.loading .u-table__listing--temp .u-table__listing__item:nth-child(5) {
  animation-delay: .75s
}