/* ======================================== */
/* =                                      = */
/* =          Color Variables             = */
/* =                                      = */
/* ======================================== */

/*
.
.     Defines color variables
.      i.e. $greyish_brown: #4a4a4a;
*/

$color-bg: #f9fafc;
$black: #333333;
$greyish_brown: #4a4a4a;
$brown_grey: #9b9b9b;
$very_light-pink: #d8d8d8;
$sun_yellow: #ffd420;
$white: #ffffff;
$apple_green: #7ed321;
$red_pink: #ff2072;
