/* ======================================== */
/* =                                      = */
/* =              Layout Base             = */
/* =                                      = */
/* ======================================== */

/*
.
.     Base Styles for layout elements
.	html | body | nav | div | section | header | main | article | aside | footer 
.      
*/

body {
  font-family: "FuturaPTMedium";
  line-height: 1;
  color: $greyish_brown;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 14px;
  background-color: #f9fafc;
}

.l-wrapper {
  display: flex;
  flex-flow: row;
}

// - - - - - - - - - -
//-  * Section
// - - - - - - - - - -


section {
  position: relative;
  width: auto;
  margin: 0 auto;
  .e-section__title {
    @include menu_active_text;
    margin: 6px 0 20px;
    line-height: 36px;
    &--alerts {
      margin-bottom: 0px;
    }
  }
}

.l-main {
  // width: 83vw;
}

.l-main {
  // width: 83vw;
  @include for-size(phone-only) {
    width: auto;
  }
}

// - - - - - - - - - - - - - - - - - - -
//-  * Content layout for entire site
// - - - - - - - - - - - - - - - - - - -

.l-content {
  padding: 18px 1rem 1.5rem;
  max-width: 61.7em; //864px
  min-width: 57.8em; //810px
  flex-wrap: wrap;
  //width: 82vw;
  height: min-content;

  &__row {
    display: flex;

    &--even {
      justify-content: space-evenly;
    }

    &.e-last_tab_btn {
      justify-content: flex-end;
      padding-top: 34px;
      padding-right: 17px;
    }

    &--border {
      border-bottom: 1px solid #d8d8d8;
    }
  }

  &__column {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  &__flexContainer {
    width: 100%;
    display: flex;

    &--row {
      flex-flow: row;
    }

    &--wrap {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--center {
      width: 100%;
      flex-flow: row;
      display: inline-flex;

      //margin-bottom: 25px;
      @include for-size(desktop-max) {
        justify-content: space-around;
      }

      @include for-size(desktop-up) {
        justify-content: space-around;
      }
    }

    &--fitContent {
      width: fit-content;
    }

    &--flexEnd {
      align-items: flex-end;
    }

    &--column {
      flex-flow: column;

      /* width: fit-content; */
      &--menu {
        flex-flow: column;
        display: flex;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 2;

        @include for-size(phone-only) {
          height: auto;
        }
      }
    }

    &--left {
      width: 100%;
      flex-flow: row;
      display: inline-flex;
      justify-content: flex-start;
      //margin-bottom: 25px;
    }

    &--left--SingleCard {
      width: 100%;
      flex-flow: column;
      display: inline-flex;
      justify-content: flex-start;
      //margin-bottom: 25px;
      margin-left: 79px;
    }

    &--left--SectionCard {
      width: 100%;
      flex-flow: column;
      display: inline-flex;
      justify-content: flex-start;
      //margin-bottom: 25px;
    }

    &--right {
      width: 100%;
      flex-flow: row;
      display: inline-flex;
      justify-content: flex-end;
      font-family: FuturaPTMedium;
      // font-size: 1.17em;
      //margin-bottom: 25px;
    }

    &--noMargin {
      margin: 0;
    }
  }

  &--noleagues {
    padding-top: 52px;
  }

  @include for-size(desktop-max) {
    width: 75vw;
    min-width: unset;
  }

  @include for-size(phone-only) {
    width: 62vw;
    min-width: 62vw;
    padding: 0.75em;
    margin: 0;
  }

  &--signin {
    @include for-size(phone-only) {
      width: 100vw;
    }
  }
}

// - - - - - - - - - - - - - - - - - - -
//-  * Basic Components Layout
// - - - - - - - - - - - - - - - - - - -

.u-card {
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.u-img-rounded {
  border-radius: 50%;
  object-fit: cover;

  &--small {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;
  }

  &--xs {
    border-radius: 50%;
    width: 26px;
    height: 26px;

    .c-accordion & {
      margin-right: 12px;
      vertical-align: top;
    }
  }
}

.u-sticky__bottomBtns {
  position: sticky;
  bottom: 0;
  background-color: #f9fafc;
  z-index: 4;
  height: 60px;
  padding-top: 20px;
  // max-width: 860px;
  margin: 0 auto;
  border-top: 1px solid #d8d8d8;
}

// - - - - - - - - - - - - - - - - - - -
//-  * General use flex container
// - - - - - - - - - - - - - - - - - - -

.l-flexContainer {
  display: flex;

  &__row {
    flex-flow: row;
  }

  &__column {
    flex-flow: column;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--center {
    align-items: center;
  }
}