/* ======================================== */
/* =                                      = */
/* =             Content Base             = */
/* =                                      = */
/* ======================================== */

/*
.
.     Base styles for content elements
.     h1 -> h6 | p | img
.      
*/

// - - - - - - - - - -
//-  * Headings
// - - - - - - - - - -
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0; //- set margins using utility classes or below
  // - example use of vars. Delete and add your own.
  // color: $greyish_brown;
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
  //   ..settings for all but h1. Usefull for fonts, standard margins
}

h1 {
  // - example use of vars. Delete and add your own.
  // font-family: "FuturaPTBold"
}

h2,
.h2 {
  // .. h2 specific settings. I.e. Font, padding, line height
}

h3,
.h3 {
  // ..
}

h4,
.h4 {
  // ..
}

h5,
.h5 {
  // ..
}

h6,
.h6 {
  // ..
}

p {
  // ..
}

img {
  line-height: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}
